<div class="row">
    <form (submit)="confirmBtn($event)">
        <label for="name">Item : </label>
        <select name="name" [disabled]="disable">
            <option value="" disabled selected>Select item</option>
            @for (item of allItems; track $index) {
                <option [value]="item.getItemName()">{{item.getItemName()}}</option>
            }
        </select>

        <label for="qty">Quantity : </label>
        <select name="qty" [disabled]="disable">
            <option value="" disabled selected>Select qty</option>
            @for (num of maxQty; track $index) {
                <option [value]="num">{{num}}</option>
            }
        </select>
        @if (!click) {
            <input type="submit" value="Confirm">
        }
    </form>
</div>
