<div class="main">
    <h1>Order Items</h1>
    <hr>
    <div>
        <div #reusableComponent></div>
        <div>
            <button class="addBtn" (click)="addItem()">Add Item</button>
        </div>
    </div>
</div>

@if (order.getOrderItems().length > 0) {
    <div class="orderBtn">
        <label for="dest">Destination : </label>
        <input type="number" min="0" max="7" [(ngModel)]="destination" name="dest">
        <button class="btn" (click)="placeOrder()" [routerLink]="['/home']" [state]="{newOrder:order}">
            <span> Place Order </span>
        </button>
    </div>
}


